.ChoiceDataContainer{
  margin: 0 0 20px 0;

  .choiceDataWrapper{
    display: flex;
    flex-wrap: wrap;
    //border: 1px solid red;

    .formContainer{
      display: flex;
      min-width: 300px;
      align-items: center;
      //margin: 0 0 0 20px;
      //border: 1px solid fuchsia;
    }
  }

}