.OrdersHistory{
  min-width: 320px;
  min-height: 100vh;

  padding: 0;

  @media all and (max-width: 400px){
    padding: 0;
  }
}

.tableTitle{
  padding: 15px 10px;
  font-weight: bold;
  //border: 1px solid forestgreen;

  @media all and (max-width: 400px){
    text-align: center;
  }
}