.UserDataForm{
  width: 70%;
  min-width: 255px;

  .inputs{
    //border: 1px solid mediumblue;

    .textField{
      margin: 0 0 15px 0;
      width: 100%;
    }

  }
  .formButton{
    //margin: 8px 0 0 0;
  }
}