.OrderingStages {
  .Stepper {
    min-width: 250px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    //border: 1px solid navy;

    .Step {
      margin: 0 0 10px 0;
    }
  }
}
