.TravelInfo{
  display: flex;
  justify-content: space-around;
  padding: 8px 5px;
  //border: 1px solid salmon;

  .travelInfoElement{
    display: flex;
    align-items: center;
    min-width: 50px;
    flex: 1 0 0;
  }
}

.activeTravelField{
  background-color: #f5f5f5;
}