.LoginPage{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;

  background-image: url("../../../Img/background_body3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}