.Body{
  width: 100%;
  min-height: 100vh;
  padding: 75px 0 20px 0;

  background-color: #f4f5f7;
  background-image: url("../../../../Img/background_body.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  //border: 1px solid orangered;
}