.UserProfileData{
  width: 45%;
  min-width: 300px;
  margin: 0 20px 15px 0;
  padding: 10px;

  .ProfileDataWrapper{
    margin: 15px 0 0 0;
  }

  @media all and (max-width: 690px){
    width: 80%;
  }
}