@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Open+Sans+Condensed:wght@300&display=swap');

.LandingTitlePage{
  z-index: 0;
  min-height: 100vh;
  position: relative;

  background-image: url("../../../../../Img/way2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: white;

  .title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 80px 0 20px 0;
    z-index: 1;

    font-family: 'Nunito', sans-serif;
    font-size: 60px;

    .titleSecond{
      color: #c00d57;
    }
  }

  .description{
    z-index: 1;
    width: 80%;

    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  //border: 1px solid violet;
}

.LandingTitlePage:after{
  display: block;
  position: absolute;
  top:0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
}




.OrderFormButton{
  z-index: 1;
  margin: 30px 0;
}