.SuccessfulStatus {
  width: 50%;
  min-width: 320px;
  margin: 0 0 20px 0;

  .successfulTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: white;
    background-color: #4caf50;

    .title{
      word-break: break-all;
    }
  }
}