.SuccessfulStatus {
  width: 70%;
  min-width: 320px;
  margin: 0 0 20px 0;

  .successfulTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    min-height: 80px;
    color: white;
    background-color: #4caf50;

    .title{
      text-align: center;
      word-break: break-word;
    }
  }
}