.SuccessfulOrderData{
  padding: 0 15px;

  .SuccessfulOrderDataElement{
    display: flex;
    justify-content: space-between;
    min-height: 35px;

    .container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 45%;
    }

    .value{
      font-weight: bold;
      font-size: 15px;
    }
  }
}