@import "./../../../../AppGlobal/AppGlobalStyles/Colors.module";

.HeaderDrawer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: $primaryColor;
  //background-color: rgba(0, 0, 0, 0.3); //my color

  /*// designer header color
  background-color: #370075;*/

  .navBarButton {
    display: none;

    @media all and (max-width: 1010px){
      display: block;
      margin: 0 10px;
    }
  }

}

.list {
  width: 300px;
}