.HeaderUserRole{
  display: flex;
  flex-direction: column;
  width: 20%;
  //border: 1px solid white;

  .userName{
    font-weight: bold;
  }

  .userRole{
    font-size: 13px;
  }

  @media all and (max-width: 530px){
    display: none;
  }
}