.ChangePassword{
  width: 45%;
  min-width: 300px;
  min-height: 180px;
  padding: 10px;

  .changePasswordWrapper{
    margin: 15px 0 0 0;
  }

  @media all and (max-width: 690px){
    width: 80%;
  }
}