.CurrentOrdersTable {
  width: 100%;
  min-width: 320px;


  .tableWrapper {
    overflow-x: auto;

    .table {
      //width: 500px;
      min-width: 400px;

      .tableHead {
        background-color: #e0e0e0;
      }
    }
  }

}